* 
{
    font-family: Arial, Helvetica, sans-serif;
}
.main_container
{
    display:flex;
    justify-content:center;
    box-sizing:border-box;
    margin:0;
    padding:50px;
    flex-direction: column;
}
.our_products
{
    padding:10px;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    
}
.our_products .title 
{
    text-align:center;
    font-size:24px;
    font-weight:bold;
}

.product_grid 
{
    display:grid;
    width:90%;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap:20px;
    box-sizing:border-box;
    border-bottom: 1px solid #F0F2F3;
    
}
.product_grid .box 
{
    box-sizing:border-box;
    width:100%;
    overflow:hidden;
    margin:0 auto;
    display:flex;
    align-items:center;
    flex-direction:column;
    overflow:hidden;
    height:fit-content;
    border-radius:10px;
}
.product_grid img 
{
    width: 100%;
}
.product_grid .box .product_info 
{
    width:100%;
    box-sizing:border-box;
    display:flex;
    justify-content:space-between;
    padding:0px 20px;
    align-items:center;
}
.product_grid .box .product_info .icon 
{
    font-size:24px;
    background:#F0F2F3;
    width:40px;
    height:40px;
    border-radius:5px;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor: pointer;
}
.product_grid .box .product_info .text_info 
{
    display:flex;
    flex-direction:column
}

.empty_cart {
    width: 90%;
    padding: 0 20px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #F0F2F3;
}

.price_summary_row
{
    width:90%;
    box-sizing:border-box;
    
    display: flex;
    justify-content: space-between;
}
.average_price_row 
{
    border-bottom: 0.5px solid #F0F2F3;
}
.total_price_row 
{
    border-bottom: 2px solid #F0F2F3;
}
.product_filter 
{
    display:flex;
    justify-content:space-between;
    padding:0 100px;
}
.product_price_range 
{
    display:flex;
    align-items:center;
}
.product_price_range span 
{
    background:black;
    color:white;
    padding:2px;
    border-radius:2px;
    cursor: pointer;
}
.product_filter_row 
{
    display: flex;
    align-items: center;
    gap: 20px;

}
.product_filter_row select 
{
    border:none
}
.clear_cart_btn 
{
    background: #F0F2F3;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
}

@media (max-width:700px)
{
    .product_filter
    {
        display: flex;
        flex-direction:column;
        align-items: center;
        gap: 20px;

    }
    .product_filter_row
    {

        width:300px;
        gap:0;
        justify-content:space-between;
    }
}